<h1>test</h1>
<app-interpolation></app-interpolation>
<app-propertybinding></app-propertybinding>
<app-classbinding></app-classbinding>
<app-eventbinding></app-eventbinding>
<app-twowaybinding></app-twowaybinding>
<app-directive-example></app-directive-example>
<app-customdirective></app-customdirective>
<app-employee-details></app-employee-details>
<app-employee-listing></app-employee-listing>
<app-employee-listing-using-api></app-employee-listing-using-api>
<app-employee-details-using-api></app-employee-details-using-api>
<router-outlet></router-outlet>